<h1>Feiertag bearbeiten</h1>

<%= render 'form', holiday: @holiday %>

<%= link_to 'Anzeigen', @holiday, class: "btn btn-sm btn-primary" %> |
<%= link_to 'Zurück', holidays_path, class: "btn btn-sm btn-warning" %>
