<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}, method: "post") do |fo| %>
  <p> Email:</br> <%= fo.text_field :email%> </p>
  <%= fo.submit :Hinzufügen, class:"btn btn-lg btn-primary"%>
<% end %>
