<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Über",   "#" %></li>
      <li><%= link_to "Kontakt", "#" %></li>
      <li><a href="https://www.uni-osnabrueck.de/startseite.html">Uni Osnabrück</a></li>
    </ul>
  </nav>
</footer>
